html  {
    background-image: url(bg.png);
    color: black;
    text-align: center;
    font-family: "Verdana", "Helvetica", sans-serif;
    font-weight: bold;
}

h1 {
    text-align: center;
    background-color: #e6e6e665;
    color: rgba(0, 0, 0, 0.616);
    padding: 10px;
}

.image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    box-shadow: 5px 5px rgba(0, 0, 0, 0.164);
}

li {
    margin: 40px;
}

p {
    width: 1000px;
    margin: 50px auto;
}

.ingredients-list,
.directions-list {
    border: ;
    background-color: #e6e6e665;
    width: 1000px;
    margin: 0 auto;
    padding: 1px;
}